@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/Kumbh-sans/KumbhSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/Kumbh-sans/KumbhSans-Bold.ttf") format("truetype");
}